[submodule "asciidoc-el"]
	path = asciidoc-el
	url = https://github.com/metaperl/asciidoc-el.git
[submodule "git-emacs"]
	path = git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "groovy"]
	path = groovy
	url = ./groovy/
